langchain
langchain_community
python-dotenv
transformers
faster_whisper
langchain_google_genai
apscheduler
torch 
torchvision 
torchaudio
pyaudio
keyboard
playsound
dashscope
flask
gradio
tiktoken
accelerate
streamlit


ChatTTS
soundfile


scipy
psutil
GPUtil
loguru
cn2an
pypinyin
jieba
num2words
pyopenjtalk
jaconv
g2p_en
sentencepiece
numba
vector_quantize_pytorch
mecab-python3
unidic-lite
fugashi